html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.cart-page {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background: $primary-light;
  color: $text-light;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  #empty-cart-message {
    font-size: 2.5rem;
    color: $text-secondary;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #cart-items {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    flex-grow: 1;
  }

  .buy-button {
    background-color: $primary-light;
    border: none;
    color: white;
    padding: 0.8rem 1.5rem;
    font-weight: 700;
    font-size: 1.1rem;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($primary-light, 10%);
    }

    &:active {
      transform: scale(0.98);
    }
  }
}

html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

@media (max-width: 600px) {
  .cart-item {
    max-width: 100%;
    min-width: 0;
  }

  #cart-items {
    flex-direction: column;
    align-items: center;
  }
}