@import "../../node_modules/bootstrap/scss/bootstrap";

@import 'variables';
@import 'header';
@import 'index';
@import 'card';
@import 'login';
@import 'register';
@import 'products';
@import 'cart';
@import 'footer';

body {
  font-family: 'Nunito', sans-serif;
  background: $background;
  margin: 0;
}
